#bg {
  background-image: url('/static/background.jpg');
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  filter: blur(5px);
}

/* Typography */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  
  h1 {
    font-size: 2rem;
    margin: 0;
    color: rgb(93, 4, 93);
  }
  
  h2 {
    font-size: 1.5rem;
  }
  
  p {
    margin: 0;
  }
  
  /* Colors */
  :root {
    --primary-color: #0096c7;
    --secondary-color: #f26419;
    --text-color: #333;
    background-color: #fff;
  }
  
  .Menu {
    position: relative;
    display: inline-block;
    margin: 1rem;
  }
  .dropbtn {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    border-radius: 0.3rem;
  }
  .dropbtn:hover, .dropbtn:focus {
    background-color: rgb(93, 4, 93);
  }
  .Menu-content {
    display: none;
    position: absolute;
    z-index: 1;
    top: 3rem;
    right: 1;
    background-color: #f9f9f9;
    min-width: 10rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
    border-radius: 0.3rem;
    transition: 1s;
  }
  
  .Menu-content a {
    display: block;
    padding: 1rem;
    color: var(--text-color);
    text-decoration: none;
  }
  
  .Menu-content a:hover {
    background-color: rgb(93, 4, 93);
    color: #f9f9f9;
  }
  
  .Menu:hover .Menu-content {
    display: block;
  }
  
  /*Saved locations drop down*/
  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Style the submenu */
.dropdown-submenu {
  position: relative;
}

/* Style the submenu content (hidden by default) */
.dropdown-submenu-content {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Show the submenu content on hover */
.dropdown-submenu:hover .dropdown-submenu-content {
  display: block;
}

/*end submenu code*/

  .container {
    margin: 2rem auto;
    max-width: 800px;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 0.3rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
    position: relative;
  }
  
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #0096c7; /*make labels blue?*/
  }
  
  form select {
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
    border: 1px solid var(--primary-color);
  }

  #iframeHolder {
    margin-top: 1rem;
  }

  #add_fav{
    background-color:#0096c7;
    color:#f9f9f9;
    border: none;
    border-radius: .3rem;
    width: 300px;
    height: 50px;
    display: block;
  }

  #add_fav:hover {
    background-color: rgb(93, 4, 93);
  }

  #search{
    background-color:#0096c7;
    color:#f9f9f9;
    border: none;
    border-radius: .3rem;
    margin-bottom: 10px;
    width: 300px;
    height: 50px;
    display: block;
  }

  #search:hover {
    background-color:rgb(93, 4, 93);
  }

  .btn-group button {
    display: block; /* Make the buttons appear below each other */
  }
  
  .btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
  }

  #saved_fav_button{
    background-color:#0096c7;
    color:#f9f9f9;
    border: none;
    border-radius: .3rem;
    margin-bottom: 10px;
    width: 50px;
    height: 20px;
    /*display: block;*/
    position: relative;
  }

  #saved_fav_button:hover{
    background-color:rgb(93, 4, 93);
  }