<!DOCTYPE html>
<html lang="en">
  <!-- define the head of the page -->
<head>
  <!--Set up basic aspects-->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot password form</title>
  <!--link to css style sheet-->
  <link rel="stylesheet" href={{ url_for('static', filename='css/loginStyles.css') }}>
  <!--style for icons-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
  <!--create background-->
  <div id="bg"></div>
  <div class="wrapper">
    <!--message at top of box-->
    <header>Password Recovery</header>
    <form method="post" form="#">
      <!--input field for the email-->
      <div class="field email">
        <div class="input-area">
          <input i="email" type="email" placeholder="Email Address" name="email">
          <!--email icon and error icon-->
          <i class="icon fas fa-envelope"></i>
          <i class="error error-icon fas fa-exclamation-circle"></i>
        </div>
        <!--error message-->
        <div class="error error-txt">Email can't be blank</div>
      </div>
      <!--submit the form-->
      <input type="submit" value="Submit" onclick="checkEmail()">
    </form>
  </div>
  <script>
    function checkEmail() {
      // Get the submit button element
      const submitBtn = document.getElementById('submit');
      // Add an event listener to the submit button
      submitBtn.addEventListener('click', function() {
        // Display a popup message
        alert('Please check your email!');
      });
    };
  </script>
</body>
</html>