<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-wdith, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href={{ url_for('static', filename='css/homeStyles.css') }}>

    <script>
    let building_dict = {{ building_dict|tojson }};
    function updateBuildingdoor_src() {
        const building_name_js = document.getElementById('building_name_src').value;
        const door_name_js = document.getElementById('door_name_src');
        door_name_js.innerHTML = ''; // Clear previous options
        const door_value = building_dict[building_name_js];
        if (door_value) {
            for (let i = 0; i < door_value.length; i++) {
                const option = document.createElement('option');
                option.text = door_value[i];
                option.value = door_value[i];
                door_name_js.add(option);
            }
        }
    }

    function updateBuildingdoor_dist() {
        const building_name_js = document.getElementById('building_name_dist').value;
        const door_name_js = document.getElementById('door_name_dist');
        door_name_js.innerHTML = ''; // Clear previous options
        const door_value = building_dict[building_name_js];
        if (door_value) {
            for (let i = 0; i < door_value.length; i++) {
                const option = document.createElement('option');
                option.text = door_value[i];
                option.value = door_value[i];
                door_name_js.add(option);
            }
        }
    }
    function fav_destination_to_backend() {
    var fav_buidling_name = document.getElementById("building_name_dist").value;
    var fav_door_name = document.getElementById("door_name_dist").value;
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/process_saved_data", true);
    xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    xhr.onreadystatechange = function() {
        if (xhr.readyState === 4 && xhr.status === 200) {
            alert(xhr.responseText);
        }
    };
    xhr.send("fav_buidling_name=" + fav_buidling_name + "&fav_door_name="+ fav_door_name );
    }
</script>
</head>
<body>
  <div id="bg"></div>
    <div class="Menu">
    <button class="dropbtn">Menu</button>
    <div class="Menu-content">
        <div class="dropdown-submenu">
            <a href="#">Saved Locations</a>
            <div class="dropdown-submenu-content">
                <a href="#">Sublink 1</a>
                <a href="#">Sublink 2</a>
                <a href="#">Sublink 3</a>
                <a href="#">Sublink 4</a>
                <a href="#">Sublink 5</a>
            </div>
        </div>
        <a href="#">Help</a>
        <a href="#">FAQ</a>
    </div>
</div>
<div class="container">
    <h1>TruTracker</h1>
    <form action="#" method="post">
        <div id="starting_location">
            <p>Where from?</p>
            <label for="building_name_src">Building Name:</label>
            <select name="building_name_src" id="building_name_src" onchange="updateBuildingdoor_src()">
                <option value="" disabled selected>Select Building</option>
                    {% for building in building_name %}#}
                        <option value="{{ building }}">{{ building }}</option>#}
            {% endfor %}#}
            </select>
            <label for="door_name_src">Door</label>
            <select name= "door_name_src" select = "door_name_src" id="door_name_src">
                <option value="">Select Door</option>
            </select>
        </div>

        <div id="ending_location">
            <p>Where to?</p>
            <label for="building_name_dist">Building Name:</label>
            <select name="building_name_dist" id="building_name_dist" onchange="updateBuildingdoor_dist()">
                <option value="" disabled selected>Select Building</option>
                    {% for building in building_name %}#}
                        <option value="{{ building }}">{{ building }}</option>#}
            {% endfor %}#}
            </select>
            <label for="door_name_dist">Door</label>
            <select name="door_name_dist" id="door_name_dist">
                <option value="">Select Door</option>
            </select>
        </div>
        <div class="btn-group">
            <button id="search" type="submit" name="submit_search">Search</button>
            <button id="add_fav" type="button" onclick="fav_destination_to_backend()">Add Favorite</button>
         </div>
    </form>
</div>
</body>
</html>