<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-wdith, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href={{ url_for('static', filename='css/homeStyles.css') }}>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    let building_dict = {{ building_dict|tojson }};
    function updateBuildingdoor_src() {
        const building_name_js = document.getElementById('building_name_src').value;
        const door_name_js = document.getElementById('door_name_src');
        door_name_js.innerHTML = ''; // Clear previous options
        const door_value = building_dict[building_name_js];
        if (door_value) {
            for (let i = 0; i < door_value.length; i++) {
                const option = document.createElement('option');
                option.text = door_value[i];
                option.value = door_value[i];
                door_name_js.add(option);
            }
        }
    }

    function updateBuildingdoor_dist() {
        const building_name_js = document.getElementById('building_name_dist').value;
        const door_name_js = document.getElementById('door_name_dist');
        door_name_js.innerHTML = ''; // Clear previous options
        const door_value = building_dict[building_name_js];
        if (door_value) {
            for (let i = 0; i < door_value.length; i++) {
                const option = document.createElement('option');
                option.text = door_value[i];
                option.value = door_value[i];
                door_name_js.add(option);
            }
        }
    }
    function fav_destination_to_backend() {
    var fav_buidling_name = document.getElementById("building_name_dist").value;
    var fav_door_name = document.getElementById("door_name_dist").value;
    var fav_name = document.getElementById("favorite_name").value;
    alert(fav_name);
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/process_saved_data", true);
    xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    xhr.onreadystatechange = function() {
        if (xhr.readyState === 4 && xhr.status === 200) {
            alert(xhr.responseText);
        }
    };
    xhr.send("fav_buidling_name=" + fav_buidling_name + "&fav_door_name="+ fav_door_name + "&favorite_name=" + fav_name);
    }
    $(document).ready(function() {
            $('#add_fav').click(function() {
                $.ajax({
                    url: '/api/dictionary',
                    type: 'GET',
                    success: function(data) {
                        // Save the data to local storage
                        sessionStorage.setItem('dictionaryData', JSON.stringify(data));
                        var ul = $('#dictionary-keys');
                        ul.empty();
                        $.each(data, function(key, value) {
                            console.log(value)
                            ul.append('<button id="saved_fav_button" value="' + key + '" onclick="modify_dest()">' + key + '</button>');
                        });
                    }
                });
            });
            var savedData = sessionStorage.getItem('dictionaryData');
            if (savedData !== null) {
                var ul = $('#dictionary-keys');
                ul.empty();
                $.each(JSON.parse(savedData), function(key, value) {
                    ul.append('<button id="saved_fav_button" value="' + key + '" onclick="modify_dest()">' + key + '</button>');
                });
            }
        });


    function modify_dest() {
        $(document).ready(function(){
            $.ajax({
                    url: '/api/dictionary',
                    type: 'GET',
                    success: function(data) {
                        var select_buidling = $('#building_name_dist');
                        var select_door = $('#door_name_dist');
                        select_buidling.empty();
                        select_door.empty();
                        $.each(data, function(key, value) {
                            const option1 = document.createElement('option');
                            const option2 = document.createElement('option');
                            option1.text = value['building_name'];
                            option1.value =  value['building_name'];

                            option2.text =  value['door_name'];
                            option2.value = value['door_name'];

                            select_buidling.append(option1)
                            select_door.append(option2)
                        });
                    }
                });
        })
    }
</script>
</head>
<body>
  <div id="bg"></div>
    <div class="Menu">
    <button class="dropbtn">Menu</button>
    <div class="Menu-content">
        <div id="dropdown-submenu">
            <a href="#">Saved Locations</a>
            <div id="dictionary-keys">

            </div>
        </div>
        <a href="#">Help</a>
        <a href="#">FAQ</a>
    </div>
</div>
<div class="container">
    <h1>TruTracker</h1>
    <form action="#" method="post">
        <div id="starting_location">
            <p>Where from?</p>
            <label for="building_name_src">Building Name:</label>
            <select name="building_name_src" id="building_name_src" onchange="updateBuildingdoor_src()">
                <option value="" disabled selected>Select Building</option>
                    {% for building in building_name|sort %}#}
                        <option value="{{ building }}">{{ building }}</option>#}
            {% endfor %}#}
            </select>
            <label for="door_name_src">Door</label>
            <select name= "door_name_src" select = "door_name_src" id="door_name_src">
                <option value="">Select Door</option>
            </select>
        </div>

        <div id="ending_location">
            <p>Where to?</p>
            <label for="building_name_dist">Building Name:</label>
            <select name="building_name_dist" id="building_name_dist" onchange="updateBuildingdoor_dist()">
                <option value="" disabled selected>Select Building</option>
                    {% for building in building_name|sort %}#}
                        <option value="{{ building }}">{{ building }}</option>#}
            {% endfor %}#}
            </select>
            <label for="door_name_dist">Door</label>
            <select name="door_name_dist" id="door_name_dist">
                <option value="">Select Door</option>
            </select>
        </div>
        <div class="btn-group">
            <button id="search" type="submit" name="submit_search">Search</button>
            <button id="add_fav" type="button" onclick="showForm()">Add Favorite</button>
         </div>
         <div id="fav_form" style="display: none;">
        <form id="favorite_form">
            <label for="favorite_name">Enter a name for this favorite:</label>
            <input type="text" name="favorite_name" id="favorite_name">
            <button type="submit" name="submit_form" id="submit_form" onclick="submitForm()">Submit</button>
        </form>
        <script>
function showForm() {
    var form = document.getElementById("fav_form");
    form.style.display = "block";
}

function submitForm() {
    var form = document.getElementById("fav_form");
    form.style.display = "none";
    alert("Inside the submitForm function");
    fav_destination_to_backend();
}
</script>
    </div>
    </form>
</div>
</body>
</html>