<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-wdith, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href={{ url_for('static', filename='css/homeStyles.css') }}>
    </head>
    <body>
        <div class="Menu">
            <button class="dropbtn">Menu</button>
            <div class="Menu-content">
                <a href="#">Saved Locations</a>
                <a href="#">Help</a>
                <a href="#">FAQ</a>
            </div>
        </div> 
        <div class="container">
            <h1>TruTracker</h1>
            <form action="/search" method="get">
                <input type="text" name="q" placeholder="Where would you like to go?">
                <button type="submit">Search</button>
              </form>
            <h5><small>Testing</small> </h5>
        </div>
        <div class="content">
            {% block content %} {% endblock %}
        </div>
    </body>
</html>