<!DOCTYPE html>
<html lang="en">
  <!-- define the head of the page -->
<head>
  <!--Set up basic aspects-->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form validation in HTML & CSS</title>
  <!--link to css style sheet-->
  <link rel="stylesheet" href={{ url_for('static', filename='css/loginStyles.css') }}>
  <!--style for icons-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
  <!--create background-->
  <div id="bg"></div>
  <div class="wrapper">
    <!--message at top of login box-->
    <header>Welcome!</header>
    <form method="post" form="#">
      <!--input field for the email-->
      <div class="field email">
        <div class="input-area">
          <input i="email" type="text" placeholder="Email Address" name="email">
          <!--email icon and error icon-->
          <i class="icon fas fa-envelope"></i>
          <i class="error error-icon fas fa-exclamation-circle"></i>
        </div>
        <!--error message-->
        <div class="error error-txt">Email can't be blank</div>
      </div>
      <!--password field-->
      <div class="field password">
        <div class="input-area">
          <input i="password" type="password" placeholder="Password" name="password">
          <!--password icon followed by error icon-->
          <i class="icon fas fa-lock"></i>
          <i class="error error-icon fas fa-exclamation-circle"></i>
        </div>
        <!--error message-->
        <div class="error error-txt">Password can't be blank</div>
      </div>
      <!--submit the form-->
      <input type="submit" value="Login">
    </form>
    <!--option to sign up if they don't have an account-->
    <div class="sign-txt">New to TruTracker? <a href="/signup">Sign-up now</a></div>
    <div class="forgot-txt">Forgot password? <a href="/forgot">Reset it here</a></div>
  </div>
  <!--script-->
  <script src="/js/loginScript.js"></script>

</body>
</html>