<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_1b7ba30a238bc5528fd914059060bcd6 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_1b7ba30a238bc5528fd914059060bcd6" ></div>
        
</body>
<script>
    
    
            var map_1b7ba30a238bc5528fd914059060bcd6 = L.map(
                "map_1b7ba30a238bc5528fd914059060bcd6",
                {
                    center: [0, 0],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_9a29c1e7374791f5dcdc1957dd54ec55 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_1b7ba30a238bc5528fd914059060bcd6);
        
    
            var marker_d95ff36a7f7be6c66af0da392736f6b0 = L.marker(
                [40.183589, -92.583847],
                {}
            ).addTo(map_1b7ba30a238bc5528fd914059060bcd6);
        
    
            var marker_ddc8d7105a023b7b7521b03e82999fa6 = L.marker(
                [40.187464, -92.580179],
                {}
            ).addTo(map_1b7ba30a238bc5528fd914059060bcd6);
        
    
            var poly_line_701eed99a1b50afe038ee029949508e6 = L.polyline(
                [[40.183589, -92.583847], [40.183637, -92.583841], [40.183622, -92.58304], [40.183619, -92.582904], [40.183617, -92.58284], [40.183621, -92.582788], [40.183633, -92.582736], [40.183665, -92.582637], [40.183697, -92.582543], [40.183736, -92.582456], [40.183814, -92.582288], [40.183912, -92.582149], [40.184135, -92.581853], [40.184246, -92.581702], [40.184304, -92.581649], [40.184362, -92.581619], [40.184422, -92.581464], [40.185137, -92.581465], [40.185199, -92.581518], [40.185632, -92.581518], [40.185776, -92.581323], [40.18603, -92.580977], [40.186268, -92.580653], [40.186262, -92.579918], [40.186306, -92.579919], [40.186357, -92.57992], [40.186455, -92.57992], [40.186486, -92.57992], [40.186737, -92.57992], [40.186777, -92.579921], [40.186933, -92.579921], [40.186995, -92.57992], [40.18719, -92.579918], [40.18732, -92.579917], [40.187423, -92.579916], [40.187462, -92.579916], [40.187464, -92.580091], [40.187464, -92.580097], [40.187464, -92.580179]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_1b7ba30a238bc5528fd914059060bcd6);
        
    
            map_1b7ba30a238bc5528fd914059060bcd6.fitBounds(
                [[40.183589, -92.583847], [40.187464, -92.579916]],
                {}
            );
        
</script>
</html>