<!DOCTYPE html>
<html lang="en">
  <!-- define the head of the page -->
<head>
  <!--Set up basic aspects-->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password Reset</title>
  <!--link to css style sheet-->
  <link rel="stylesheet" href={{ url_for('static', filename='css/loginStyles.css') }}>
  <!--style for icons-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
  <!--create background-->
  <div id="bg"></div>
  <div class="wrapper">
    <!--message at top of box-->
    <header>Reset Your Password</header>
    <form method="post" form="#">
      <!--input field for the email-->
      <div class="field email">
        <div class="input-area">
          <input i="email" type="email" placeholder="Email Address" name="email">
          <!--email icon and error icon-->
          <i class="icon fas fa-envelope"></i>
          <i class="error error-icon fas fa-exclamation-circle"></i>
        </div>
        <!--error message-->
        <div class="error error-txt">Email can't be blank</div>
      </div>

       <!--password field-->
       <div class="field password">
        <div class="input-area">
          <input i="password1" id="password1" type="password" placeholder="New Password" name="password1" minlength="8" required>
          <!--icon to represent the email field-->
          <i class="icon fas fa-lock"></i>
          <!--error icon-->
          <i class="error error-icon fas fa-exclamation-circle"></i>
        </div>
        <!--error message-->
        <div class="error error-txt">Password can't be blank</div>
      </div>

       <!--password field-->
       <div class="field password">
        <div class="input-area">
          <input i="password2" id="password2" type="password" placeholder="Confirm Password" name="password2" minlength="8" required>
          <!--icon to represent the email field-->
          <i class="icon fas fa-lock"></i>
          <!--error icon-->
          <i class="error error-icon fas fa-exclamation-circle"></i>
        </div>
        <!--error message-->
        <div class="error error-txt">Password can't be blank</div>
      </div>


      <!--submit the form-->
      <input type="submit" value="Submit" onclick="checkPasswords()">
    </form>
  </div>

  <p id="message"></p>

  <script>
    function checkPasswords() {
      var password1 = document.getElementById("password1").value;
      var password2 = document.getElementById("password2").value;

      if (password1 == password2) {
        document.getElementById("message").innerHTML = "Passwords match!";
      } else {
        document.getElementById("message").innerHTML = "Passwords do not match. Please try again.";
      }
    }
  </script>

</body>
</html>