<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form validation in HTML & CSS</title>
  <!--link to css file-->
  <link rel="stylesheet" href={{ url_for('static', filename='css/signUpStyles.css') }}>
  <!--style sheet for symbols-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
  <div id="bg"></div>
  <div class="wrapper">
    <!--title at top of the sign up block-->
    <header>Join TruTracker!</header>
    <form method="post" action="#">
      <!--field to enter their name-->
       <div class="field name">
        <div class="input-area">
            <input i="name" type="text" placeholder="Name" name="name" minlength="2" maxlength="50" pattern="[A-Za-z\s]+" required>
            <i class="icon fas fa-regular fa-id-card"></i>
            <!--error icon and message to be displayed-->
            <i class="error error-icon fas fa-exclamation-circle"></i>
        </div>
        <!--error message-->
        <div class="error error-txt">Name can't be blank</div>
      </div>
      <!--field to enter thier email-->
      <div class="field email">
        <div class="input-area">
          <input i="email" type="email" placeholder="Email Address" name="email" required>
          <!--icon to represent the email field-->
          <i class="icon fas fa-envelope"></i>
          <!--error icon-->
          <i class="error error-icon fas fa-exclamation-circle"></i>
        </div>
        <!--error message-->
        <div class="error error-txt">Email can't be blank</div>
      </div>
      <!--password field-->
      <div class="field password">
        <div class="input-area">
          <input i="password" type="password" placeholder="Password" name="password" minlength="8" required>
          <!--icon to represent the email field-->
          <i class="icon fas fa-lock"></i>
          <!--error icon-->
          <i class="error error-icon fas fa-exclamation-circle"></i>
        </div>
        <!--error message-->
        <div class="error error-txt">Password can't be blank</div>
      </div>
      <input type="submit" value="Sign-up">
    </form>
  </div>
  <!--link to script-->
  <script src="/js/signUpScript.js"></script>
</body>
</html>
